.grid-container {
    background-color:teal;
    display:grid;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#grid {
    background-color: white;
    display:grid;
    height: 350px;
    width:350px;
    
}
#item {
    background-color:white;
}
#modes {
    height: 50px;
    width:80%;
}
